@keyframes navbg {
    to {
        background: rgb(230, 233, 236);
        color: white;
    }
}
nav  {
position: sticky;
  background: transparent;
  animation: navbg linear 0.7s;
  animation-timeline: scroll();
  animation-range: 0px 300px;
  animation-fill-mode: forwards;
}
logo {
    font-size: 50px;
    font-weight: bold;
    color: white;
}


body {
    background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg);
    background-size: cover;
    
}
.unit-border {
  border: 1px solid rgb(74, 133, 221);
  text-align: center;
  padding: 10px;
  color: white;
}
.teks {
    color: white;
    text-align: center;
}
.article1 {
        background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 50px auto;
    font-family: Arial, sans-serif;
}
